a{
    position: relative;
    right: 20px;
    float: right;
    color: silver;
}

header{
    height: 15%;
    padding-left: 50px;
}

body{
    height: 100%;
    width: 97%;
    background-color: rgb(7,11,24);
}

h1{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.topTen{
    border: thin solid white;
    padding-right: 20px;
}

/*code for the content bux was taken from https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers*/

.content{
    border: thin solid white;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    height: 70%;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 200px;
    text-align: center;
}

.footer{
    height: 15%;
    position: sticky;
    top: 500px;
    width: 100%;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin-bottom: 75px;
}

ol{
   float: left; 
   margin-left: 450px;
}

